* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
input[type='text'] {
  outline: none;
  border-radius: 4px;
  color: black;
}

image {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.test {
  border: 1px solid red;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex {
  display: flex;
}
.icon-logo {
  background-position: 0 0;
  height: 24px;
  width: 141px;
}
[class^="icon-"], [class*="icon-"] {
  background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/TGDD/Desktop/icon_common@2x.png?v=1);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}
.canclick {
  transition: 0.25s ease all;
}
.canclick:hover {
  cursor: pointer;
  background-color: rgb(102, 102, 102);
  color: #fed101
}
.canclick2:hover {
  cursor: pointer;
  color: #fed101
}
.canclick3:hover {
  cursor: pointer;
}